<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="../js/apuntesjavascript.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Apuntes Javascript</title>
    <meta>
</head>

<body onload="finit();">
    <div>hola soy texto</div>
    <a href="Javascript:alert('WAZAAAAAAA')">DSADASDASDAS</a>
    <b><u>Eventos de Rat&oacute;n</u></b>:
    <b>onMouseUP:</b> se lanza cuando se suelta el bot&oacuten izquierdo del rat&oacuten.
    <b>onMouseDown</b>: se lanza cuando se pulsa el bot&oacuten izquierdo del rat&oacuten.
    <b>onClick</b>: se lanza cuando se pulsa con el rat&oacuten encima de un elemento del HTML.
    <b>onDblClick</b>: se lanza cuando se pulsa dos veces sobre un elemento del HTML.
    <b>onMouseOver</b>: se lanza cuando movemos el rat&oacuten por encima de un elemento de HTML.
    <b>onMouseOut</b>: se lanza cuando dejamos de tener el rat&oacuten encima de un elemento de HTML.
    <b>onDragDrop</b>: se lanza cuando se arrastra un elemento por la p&aacutegina.
    <b>onDragStart</b>: se lanza cuando un elemento comienza a ser arrastrado.
    <b>onDrag</b>: se lanza cuando se arrastra un elemento por la p&aacutegina o por otra p&aacutegina.
    <b>onDragEnter</b>: se lanza cuando se arrastra un elemento a un objetivo v&aacutelido de ese mismo navegador o de
    otro.
    <b>onDragOver</b>: igual que el anterior, pero se lanza posteriormente.
    <b>onDragLeave</b>: igual que el anterior pero no lo suelta el elemento.
    <b>onDragEnd</b>: se lanza cuando se suelta el elemento despu&eacutes de arrastrarlo.
    <b>onDrop</b>: se lanza cuando se deja de pulsar el bot&oacuten del rat&oacuten despu&eacutes de una operaci&oacuten
    de arrastre de un elemento.
    <b><u>Eventos de teclado</u></b>:
    <b>onKeyPress</b>: se lanza cuando un usuario pulsa y deja de pulsar una tecla o cuando la mantiene pulsada.
    <b>onKeyDown</b>: se lanza al pulsar una tecla.
    <b>onKeyUp</b>: se lanza cuando dejamos de pulsar una tecla que hab&iacuteamos pulsado.
    <b>onHelp</b>: se lanza al presionar la tecla F1.
    <b>Eventos de formularios y modificaciones</b>.
    <b>onChange</b>: se lanza cuando el contenido del campo del formulario var&iacutea.
    <b>onPropertyChange</b>: se lanza cuando cambia la propiedad de un elemento.
    <b>onPropertyChange</b>onReadyStateChange: se lanza cuando cambia es estado de un elemento, bastante usado en AJAX
    como podremos ver.
    <b>onSubmit</b>: se lanza cuando presionamos un bot&oacuten de env&iacuteo de formulario.
    <b>onReset</b>: se lanza cuando presionamos el bot&oacuten de vaciado de formulario.
    <b><u>Otros eventos</u></b>:
    <b>onFocus</b>: se lanza cuando el cursor entra en el elemento (muy usado en campos de formulario).
    <b>onBlur</b>: se lanza cuando el cursor por medio de teclado o rat&oacuten sale de un elemento.
    <b>onSelect</b>: se lanza cuando se selecciona texto dentro de una casilla de texto, tanto con el rat&oacuten o con
    el teclado.
    <b>onLoad</b>: se lanza al terminar de cargar una ventana o una imagen.
    <b>onUnload</b>: el contrario del anterior y se lanza cuando se deja una ventana para cargar otra o tambi&eacuten
    para volver a cargar la misma.
    <b>onResize</b>: se lanza cuando el usuario cambia el tama&ntildeo de la ventana haci&eacutendola m&aacutes grande o
    m&aacutes peque&ntildea.
    <b>onScroll</b>: se lanza cuando se hace scroll con rat&oacuten o teclado en la ventana o alg&uacuten elemento que
    contenga scroll.
    <input type="button" onclick='alert("Esto es una alerta Javascript...");' value="Alerta!" />
    <table>
        <tr>
            <h1>
                press F12
            </h1>
        </tr>
        <tr>
            <td>Primer numero: </td>
            <td><input type="text" name="num1" id="num1" /></td>
            <td><input type="text" name="num2" id="num2" /></td>
        </tr>
        console.log
        <tr>
            <td>campo1 </td>
            <td><input type="text" name="num2" id="campo1" /> </td>
        </tr>
        <tr>
            <td>Resultado: </td>
            <td><input type="text" name="resultado" id="resultado" /></td>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Suma" onclick='suma();' />
            </td>
        </tr>
        </tr>
        <tr>
            <td> <input type="text" name="ip" id="ip_text_id"></td>
            <td> <input type="text" name="location" id="location_text_id"></td>
        </tr>
    </table>
    <script Language="Javascript">
        var variable1 = 1;
        var variable2 = 'texto';
        var variable3 = true;
        var variable4 = new Function();
    </script>
    <input type="button" onclick="alert(typeof variable1);" value="variable 1" />
    <input type="button" onclick="alert(typeof variable2);" value="variable 2" />
    <input type="button" onclick="alert(typeof variable3);" value="variable 3" />
    <input type="button" onclick="alert(typeof variable4);" value="variable 4" />
    <input type="button" onclick="f01();" />
    <div>var variable = new Array(3)</div>
    <div>push: nos permite a&ntildeadir al final de un vector un elemento sin necesidad de saber el &iacutendice que
        debemos asignarle:
        mivector.push('barco');
        //vemos el resultado en la consola
        console.log(mivector);
        pop: Nos permite eliminar el elemento final del vector.
        mivector.pop();
        shift: Nos permite eliminar el elemento inicial del vector.
        mivector.shift();
        unshift: Nos permite agregar un elemento al inicio del vector.
        mivector.unshift('triciclo');
        indexOf: Devuelve el &iacutendice de un elemento dentro de un vector. Si el elemento buscado no existe nos
        devolver&aacute -1.
        mivector.indexOf('moto'); //devuelve 1 (los &iacutendices de vectores empiezan en 0)
        splice: Nos permite eliminar el elemento que deseemos indicando el &iacutendice del mismo y la cantidad de
        elementos a eliminar en el segundo par&aacutemetro.
        mivector.splice(1,1); //borrara el elemento moto</div>
    <input type="button" onclick="f02();" value="f02" />
    <input type="button" onclick="f05();" value="f05" />
    <input type="button" onclick="f06();" value="f06" />
    <input type="button" onclick="f07();" value="f07" />
    <input type="button" onclick="f08();" value="f08" />
    <div>5 > 6 //devuelve false
        5 >= 5 //devuelve trae
        3 < 8 //devuelve true 3 <=2 //devuelve false 3==3//devuelve true 4 !=2//devuelve true 3=='3' //devuelve
            true</div>
            <input type="button" onclick="f03();" value="f03" />
            <div>(5 > 3) && (13 <= 13) //devuelve true (5 < 3) || (13> 13) //devuelve false
                    !(5 > 3) //devuelve style/dborder:iv>
                    ;padding: 2px; <input type="button" onclick="f04();" value="f04" />
                    <div>for (valorInicial; condici&oacuten; incremento){
                        // codigo a realizar
                        }</div>
                    <div style="border:2px solid black;padding: 2px;">
                        <form name="calculadora">
                            Cadena de operaciones
                            <input type="text" name="operaciones" /><br>
                            Resultado:
                            <input type="text" name="resultado" /><br>
                            <input type="button" value="Calcular" onClick="calcula(this.form)">
                        </form>
                    </div>
                    <div id="fake_console_02" style="border: 2px solid blue;"></div>
                    <p id="fake_console" style="border:4px solid greenyellow;"></p>
                    <p id="ip"></p>
                    <p id="location"></p>

                    <div>
                        <p>

                            fecha = new Date(año,mes)
                            //cogería el día uno del mes y años indicados
                            fecha = new Date(año, mes, día)
                            fecha = new Date(año, mes, día, hora)
                            fecha = new Date(año, mes, día, hora, minutos)
                            fecha = new Date(año, mes, día, hora, minutos, segundos)
                            Math.abs(número), devuelve el valor absoluto del número.

                            Math.min(número1,número2), devuelve el más bajo de los dos números pasados por parámetro.

                            Math.max(número1,número2), devuelve el más alto de los dos números pasados por parámetro.

                            Math.sin(número), devuelve el seno del ángulo pasado por parámetro.

                            Math.cos(número), devuelve el coseno del ángulo pasado por parámetro.

                            Math.tan(número), devuelve la tangente del ángulo pasado como parámetro.

                            Math.asin(número), devuelve el arcoseno del ángulo pasado como parámetro.

                            Math.acos(número), devuelve el arcocoseno del ángulo pasado como parámetro.

                            Math.atan(número), devuelve el arcotangente del ángulo pasado como parámetro.

                            Math.atan2(num1,num2), devuelve el arcotangente cuyas proyecciones sobre los ejes Y y X son
                            los números num1 y num2.

                            Math.sqrt(número), devuelve la raíz cuadrada del número pasado por parámetro.

                            Math.ceil(número), devuelve el número pasado por parámetro a su entero superior.

                            Math.floor(número), devuelve el número pasado por parámetro a su entero inferior.

                            Math.round(número), devuelve el entero más próximo al número pasado por parámetro.

                            Math.exp(número), devuelve el resultado de elevar el número E al exponente indicado en el
                            parámetro pasado.

                            Math.log(número), devuelve el logaritmo natural del número pasado por parámetro.

                            Math.pow(base,exponente), devuelve el resultado de la potencia de la base al exponente
                            indicados por los parámetros.

                            Math.random(), devuelve un número pseudo-aleatorio entre 0 y 1 inclusive.
                        </p>
                        <p>
                            getDate(), devuelve el día del mes actual entre 1 y 31.

                            getDay(), devuelve el día de la semana actual entre 0 (domingo) y 6 (sábado).

                            getHours(), devuelve la hora del día actual entre 0 y 23.

                            getMinutes(), devuelve los minutos de la hora actual entre 0 y 59.

                            getSeconds(), devuelve los segundos del minuto actual entre 0 y 59.

                            getMonth(), devuelve el mes del año actual entre 0 y 11.

                            getTime(), devuelve el tiempo en milisegundos desde el 1 de enero de 1970.

                            getYear(), devuelve el año actual.

                            setDate(día), pone el día pasado por parámetro como día del objeto date.

                            setDay(día de la semana), pone como día del objeto date el día pasado por parámetro (de 0 a
                            6).

                            setHours(hora), pone la hora del objeto date a la indicada en el parámetro.

                            setMinutos(minutos), pone los minutos del objeto date a los indicados en el parámetro.

                            setMonth(mes), pone el mes indicado en el parámetro como mes del objeto date.

                            setSeconds(segundos), pone los segundos del objeto date a los indicados en el parámetro.

                            setTime(milisegundos), pone la fecha desde los milisegundos que le pasemos del 1 de enero de
                            1970 en el objeto date que estemos usando.

                            setYear(año), pone el año indicado por parámetro como año del objeto date.

                            toGMTString(), devuelve la cadena convertida a zona horaria GMT
                        </p>
                    </div>
                    <div>
                        <p> el contenedor de todos los elementos de la página, con las propiedades y funciones de este
                            objeto podremos hacer cambios dinámicos en la web cuando lo deseemos.

                            Las propiedades más utilizadas del objeto son:

                            anchors, es un vector que contiene los enlaces internos existentes en el documento.

                            all, es un vector que contienen todos los elementos dentro del documento, sean del tipo que
                            sean. (En desuso).

                            applets, es un vector que contienen los applets creados en la web. (En desuso).

                            images, es un vector que contiene las imágenes de la web.

                            forms, es un vector con los formularios creados en la web.

                            links, es un vector con los enlaces externos de la web.

                            bgColor, contiene el color de fondo del documento. (En desuso).

                            cookie, es un valor en string que contiene los valores de las cookies que posea en documento
                            separadas por “;”.

                            domain, guarda el nombre del servidor donde está alojada la web.

                            alinkColor, contiene el color que se usa en el documento para los enlaces activos.

                            location, cadena que contiene la ubicación de la web.

                            referrer, cadena que contiene la URL de la página que llamo a la página actual.

                            body, se usa para hacer referencia al cuerpo de la web, todo lo contenido dentro de las
                            etiquetas HTML , solo en modo lectura.

                            lastModified, contiene la fecha de modificación del documento.

                            readyState, estado del objeto, tiene cuatro posibles valores:

                            Sin cargar.

                            Cargándose.

                            Sin terminar la carga pero interactivo.

                            Carga completa.

                            height, contiene la altura del documento actual, puede modificarse.

                            width, contiene la anchura del documento actual, puede modificarse.

                            styleSheets, devuelve una lista de las hojas de estilo CSS usadas en el documento.

                            parentNode, nos devuelve el padre, o elemento anterior al objeto indicado.</p>
                        <p>closed, es una propiedad de solo lectura y devuelve true si la ventana a la que hacemos
                            referencia está cerrada o false si está abierta.

                            var estacerrada = ventana.closed;

                            defaultStatus, nos permite cambiar y leer el texto de la barra de estado del navegador.

                            window.defaultStatus = “Hola, bienvenido”;

                            frames, devuelve un vector compuesto de estos elementos que hay en la web.

                            history, nos devuelve la instancia de referencia del elemento “history” de una ventana para
                            poder interactuar con el, para ello disponemos de las siguiente funciones:

                            history.back(): el navegador va a la anterior página que tenga guardada en la sesión.
                            Similar al botón atrás de los navegadores.

                            history.forward(): el navegador va a la siguiente página que tenga guardad en sesión.
                            Similar al botón siguiente del navegador.

                            history.go(numero): indicamos al navegador que se sitúe en la página que tenga guardada en
                            la sesión y en la posición que indiquemos a partir de la actual. Por ejemplo, poniendo un
                            -3, el navegador iría tres páginas hacia atrás.

                            innerHeight, altura del contenido de la venta sin incluir los menús del navegador, pero si
                            los posibles scrolls.

                            innerWidth, anchura del contenido de la ventana incluyendo las barras de scroll.

                            outherHeight, altura del navegador, incluyendo la página, los menús y los scrolls.

                            outherWidth, anchura del navegador incluyéndolo todo.

                            Veamos un ejemplo gráfico de la diferencia:

                            Ejemplo del objeto Window
                            length, número de frames o iframes que contiene la ventana.

                            opener, devuelve la referencia de la ventana que abrió la actual, en caso de que la ventana
                            no se abriera desde otra devolvería un “null”.

                            parent, devuelve la referencia del padre de la ventana o frame actuales, por ejemplo si una
                            página la insertamos dentro de un frame, el padre de esta será la ventana que contienen el
                            frame.

                            navigator, nos devuelve la referencia a un objeto predefinido de JavaScript que suministra
                            información del navegador web. Sus atributos posibles son:

                            navigator.appCodeName: devuelve el nombre interno del navegador.

                            navigator.appName: devuelve el nombre oficial del navegador.

                            navigator.appVersion: devuelve la versión del navegador.

                            navigator.cookieEnabled: devuelve un valor “true” si el navegador tiene activadas las
                            cookies.

                            navigator.language: devuelve e código de lenguaje del navegador (para España “es”, Francia
                            “fr”, Estados Unidos “eu”…).

                            navigator.onLine: devuelve un valor “true” cuando el navegador está trabajando on-line y no
                            con una versión en memoria.

                            navigator.platform: devuelve la plataforma donde está trabajando el navegador, por ejemplo,
                            en Windows XP 32 bit devuelve “Win32”.

                            navigator.plugins: devuelve un “array” con la lista de plugins instalados en el navegador.

                            navigator.product: devuelve el nombre del producto que es el navegador.

                            navigator.producSub: devuelve el número de referencia del producto.

                            navigator.userAgent: devuelve el agente navegador que usa el producto.

                            navigator.vendor: nos indica el vendedor del producto, por ejemplo, en caso de Chrome nos
                            devuelve Google Inc.

                            navigator.vendorSub: nos indica la versión del vendedor (si tiene).</p>
                    </div>
</body>

</html>