<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="../js/apuntesjavascript02.js"></script>
    <link rel="stylesheet" href="../css/style_js_02.css" media="all">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Apuntes Javascript 02</title>
    <meta>
</head>

<body onload="finit();">
    <div>
        <h1> Apuntes Javascript 02</h1>
    </div>
    <div>
        <a href="../index.html">index.html</a>
    </div>

    <div id="fake_console_id">

    </div>
    <div>
        <button id="button_01_id" onclick="fbutton_01();" value="button_01">document.write</button>
        <button id="button_02_id" onclick="fbutton_02();" value="button_02">document.writeln</button>
        <button id="button_03_id" onclick="fbutton_03();" value="button_03">
            p.appendChild(document.createTextNode("text"))</button>
        <button id="button_04_id" onclick="fbutton_04();" value="button_04">document.getElementsByName</button>
        <button id="button_05_id" onclick="fbutton_05();" value="button_05">document.createElement</button>
        <button id="button_06_id" onclick="fbutton_06();" value="button_06">button 06</button>
    </div>

    <div>
        <p id="p_01_id">Línea de texto de documento<br /></p>
    </div>
    <div>
        <input type="text" id="text_01_id" name="text_01" value="value of text_01" />text_01
    </div>
    <div>
        <p id="p_02_id"> document.getElementById("p_02_id");</p>
    </div>
    <div>
        <input type="text" name="texto" value="mind">
        <input type="text" name="texto" value="body">
        <input type="text" name="texto" value="purpose">
    </div>

    <div>
        <button id="button_07_id" onclick="fbutton_07();" value="button_07">document.createAttribute(menudo lio)
        </button>
        <button id="button_08_id" onclick="fbutton_08();" value="button_08">evt.initMouseEvent</button>
        <button id="button_09_id" onclick="fbutton_09();" value="button_09"
            style="text-decoration: line-through;">window.addEventListener</button>
        <button id="button_10_id" onclick="fbutton_10();" value="button_10">window.open</button>
        <button id="button_11_id" onclick="fbutton_11();" value="button_11">window.close</button>
    </div>

    <div>
        <p id="p_03_id"> document.getElementById("p_03_id");--------------</p>
    </div>

    <div>

        <button id="button_12_id" onclick="fbutton_12();" value="button_12">window.confirm</button>
        <button id="button_13_id" onclick="fbutton_13();" value="button_13">window.moveto</button>
        <button id="button_14_id" onclick="fbutton_14();" value="button_14">window.print</button>
        <button id="button_15_id" onclick="fbutton_15();" value="button_15">window.scrollTo</button>
    </div>
       <div>

        <button id="button_16_id" onclick="fbutton_16();" value="button_12">button 16</button>
        <button id="button_17_id" onclick="fbutton_17();" value="button_13">button 13</button>
        <button id="button_18_id" onclick="fbutton_18();" value="button_14">button 14</button>
        <button id="button_19_id" onclick="fbutton_19();" value="button_15">button 15</button>
    </div>
       <div>

        <button id="button_20_id" onclick="fbutton_20();" value="button_12">20</button>
        <button id="button_21_id" onclick="fbutton_21();" value="button_13">button 13</button>
        <button id="button_22_id" onclick="fbutton_22();" value="button_14">button 14</button>
        <button id="button_23_id" onclick="fbutton_23();" value="button_15">button 15</button>
    </div>


</body>