<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_js_03.css" id="style_js_03_id" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 
        NOTE: You need to provide your own Google Maps API key for this to work.
        Replace YOUR_API_KEY with a valid API key.
        The script is now loaded asynchronously with a callback function as per best practices.
    -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_thKXbixIAN_iftQqGFEsehaIQEUdTFo&callback=initMaps"></script>
    <script type="text/JavaScript">
            function initMaps() {
                cargarmapa();
                cargarmapa2();
                cargarmapa3();
                cargarmapa4();
                cargarmapa5();  
            }

            function cargarmapa() {
                var punto = new google.maps.LatLng(
                    41.129220338983,
                    -3.23365432098762
                );
                //creación del punto de coordenadas
                var opciones = {
                    zoom: 6,
                    center: punto,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                //creación de las opciones del mapa
                var m=new google.maps.Map(
                    document.getElementById("mapa"),
                    opciones
                );
                //creación del mapa
            }
            function cargarmapa2() {     
                var punto = new google.maps.LatLng( 
                    41.129220338983,  
                    -3.23365432098762 
                );     
                //creación del punto de coordenadas     
                var opciones2 = {     
                    zoom: 6,     
                    center: punto,     
                    mapTypeId: google.maps.MapTypeId.ROADMAP     
                };     
                //creación de las opciones del mapa     
                var m=new google.maps.Map(document.getElementById("mapa2"), opciones2);     
                //creación del mapa      
                var marca = new google.maps.Marker({ 
                    position: punto, 
                    map: m, 
                    title: "Mi marca"     
                    });    
                }
                function cargarmapa3() {
                var punto = new google.maps.LatLng( 41.129220338983, -3.23365432098762 );     
                //creación del punto de coordenadas     
                var opciones3 = {     
                    zoom: 6,     
                    center: punto,     
                    mapTypeId: google.maps.MapTypeId.ROADMAP     
                };     
                //creación de las opciones del mapa     
                var m=new google.maps.Map(document.getElementById("mapa3"), opciones3);     
                //creación del mapa      
                var marca = new google.maps.Marker({ 
                    position: punto, 
                    map: m     
                });  
                var caja = new google.maps.InfoWindow({  
                    content: 'Empresa: <b>MasterD Formación online</b><br/>\
                             Teléfono: 000000000<br/>dirección: calle , número y piso'
                });  
                google.maps.event.addListener( marca, 'click', function()  {      
                    caja.open(m,marca);  
                }); 
                
            } 
            var m;
            function cargarmapa4() {
            var punto = new google.maps.LatLng(
                41.129220338983,
                -3.23365432098762
            );
            //creación del punto de coordenadas
            var opciones4 = {
                zoom: 6,
                center: punto,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            //creación de las opciones del mapa
            m = new google.maps.Map(document.getElementById("mapa4"), opciones4);
            //creación del mapa
            }
            function geo() {
                var geocoder = new google.maps.Geocoder();
                var direccion = $("#direccion").val();
                geocoder.geocode({'address': direccion}, function(results, status) {
                    if (status === 'OK') {
                        m.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                        map: m,
                        position: results[0].geometry.location});
                    } else {
                        alert('No se ha encontrado esa localizacion : ' + status);
                    }
                });
            }
        var mapa5; 
        var mostrar_direcciones; 
        var servicios_rutas; 
        function cargarmapa5() {     
            servicios_rutas = new google.maps.DirectionsService(); 
            mostrar_direcciones = new google.maps.DirectionsRenderer();     
            var punto = new google.maps.LatLng( 41.129283, -3.233654 );     
            var opciones = { 
                zoom: 7, 
                center: punto, 
                mapTypeId: google.maps.MapTypeId.ROADMAP     
            };     
            mapa5 = new google.maps.Map(document.getElementById("mapa5"), opciones);     
            mostrar_direcciones.setMap(mapa5);     
            mostrar_direcciones.setPanel(document.getElementById("ruta")); 
        } 
        function calcularRuta() {     
            var partida = document.getElementById("partida").value;     
            var destino = document.getElementById("destino").value;     
            var opciones = { 
                origin:partida,  
                destination:destino, 
                travelMode: google.maps.DirectionsTravelMode.DRIVING 
                //indicamos en este caso que hacemos el viaje en coche/moto     
            };     
            servicios_rutas.route(opciones, function(response, status) { 
                if (status == google.maps.DirectionsStatus.OK) { 
                    mostrar_direcciones.setDirections(response); }     
                }); 
        } 
        </script>
    <title>Librer&iacute;as externas de javascript</title>
</head>

<body>
    <h1>Librer&iacute;as externas de javascript</h1>
    <a href="../index.html">Index</a>
    <div>
        <div id="mapa" style="width:600px;height:605px;position: relative;float:left">mapa 1</div>
        <div id="mapa2" style="width:600px;height:605px;position: relative;float:left">mapa 2</div>

    </div>
    <div>
        <div>puntero marca los datos de la empresa</div>
        <div id="mapa3" style="width:600px;height:605px;position: relative;float:left">mapa 3</div>
    </div>
    <div>
        <input id="direccion" type="textbox" value="Madrid">
        <input type="button" value="Geolocalizar" onclick="geo()">
        <br /><br /><br />
        <div id="mapa4" style="width:600px;height:605px;position: relative;float:left">mapa 4</div>

    </div>
    <div>
Partida : <input id="partida" type="textbox" value=""> 
        Destino : <input id="destino" type="textbox" value=""> 
        <input type="button" value="Geolocalizar" onclick="calcularRuta()"> 
        <br /><br /><br />
        <div id="mapa" 
            style="position:relative;float:left;width:650px; height:575px"></div>
        <div id="ruta" style="position:relative;float:left;width:250px; "></div>
    </div>
</body>

</html>