<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="../js/apuntesjavascript.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Apuntes Javascript</title>
    <meta>
</head>

<body onload="finit();">
    <div>hola soy texto</div>
    <a href="Javascript:alert('WAZAAAAAAA')">DSADASDASDAS</a>
    <p class="p_apuntes_class">
        <b><u>Eventos de Rat&oacute;n</u></b>:
        <b>onMouseUP:</b> se lanza cuando se suelta el bot&oacuten izquierdo del rat&oacuten.
        <b>onMouseDown</b>: se lanza cuando se pulsa el bot&oacuten izquierdo del rat&oacuten.
        <b>onClick</b>: se lanza cuando se pulsa con el rat&oacuten encima de un elemento del HTML.
        <b>onDblClick</b>: se lanza cuando se pulsa dos veces sobre un elemento del HTML.
        <b>onMouseOver</b>: se lanza cuando movemos el rat&oacuten por encima de un elemento de HTML.
        <b>onMouseOut</b>: se lanza cuando dejamos de tener el rat&oacuten encima de un elemento de HTML.
        <b>onDragDrop</b>: se lanza cuando se arrastra un elemento por la p&aacutegina.
        <b>onDragStart</b>: se lanza cuando un elemento comienza a ser arrastrado.
        <b>onDrag</b>: se lanza cuando se arrastra un elemento por la p&aacutegina o por otra p&aacutegina.
        <b>onDragEnter</b>: se lanza cuando se arrastra un elemento a un objetivo v&aacutelido de ese mismo navegador o
        de
        otro.
        <b>onDragOver</b>: igual que el anterior, pero se lanza posteriormente.
        <b>onDragLeave</b>: igual que el anterior pero no lo suelta el elemento.
        <b>onDragEnd</b>: se lanza cuando se suelta el elemento despu&eacutes de arrastrarlo.
        <b>onDrop</b>: se lanza cuando se deja de pulsar el bot&oacuten del rat&oacuten despu&eacutes de una
        operaci&oacuten
        de arrastre de un elemento.
        <b><u>Eventos de teclado</u></b>:
        <b>onKeyPress</b>: se lanza cuando un usuario pulsa y deja de pulsar una tecla o cuando la mantiene pulsada.
        <b>onKeyDown</b>: se lanza al pulsar una tecla.
        <b>onKeyUp</b>: se lanza cuando dejamos de pulsar una tecla que hab&iacuteamos pulsado.
        <b>onHelp</b>: se lanza al presionar la tecla F1.
        <b>Eventos de formularios y modificaciones</b>.
        <b>onChange</b>: se lanza cuando el contenido del campo del formulario var&iacutea.
        <b>onPropertyChange</b>: se lanza cuando cambia la propiedad de un elemento.
        <b>onPropertyChange</b>onReadyStateChange: se lanza cuando cambia es estado de un elemento, bastante usado en
        AJAX
        como podremos ver.
        <b>onSubmit</b>: se lanza cuando presionamos un bot&oacuten de env&iacuteo de formulario.
        <b>onReset</b>: se lanza cuando presionamos el bot&oacuten de vaciado de formulario.
        <b><u>Otros eventos</u></b>:
        <b>onFocus</b>: se lanza cuando el cursor entra en el elemento (muy usado en campos de formulario).
        <b>onBlur</b>: se lanza cuando el cursor por medio de teclado o rat&oacuten sale de un elemento.
        <b>onSelect</b>: se lanza cuando se selecciona texto dentro de una casilla de texto, tanto con el rat&oacuten o
        con
        el teclado.
        <b>onLoad</b>: se lanza al terminar de cargar una ventana o una imagen.
        <b>onUnload</b>: el contrario del anterior y se lanza cuando se deja una ventana para cargar otra o
        tambi&eacuten
        para volver a cargar la misma.
        <b>onResize</b>: se lanza cuando el usuario cambia el tama&ntildeo de la ventana haci&eacutendola m&aacutes
        grande o
        m&aacutes peque&ntildea.
        <b>onScroll</b>: se lanza cuando se hace scroll con rat&oacuten o teclado en la ventana o alg&uacuten elemento
        que
        contenga scroll.
    </p>

    <input type="button" onclick='alert("Esto es una alerta Javascript...");' value="Alerta!" />
    <table>
        <tr>
            <h1>
                press F12
            </h1>
        </tr>
        <tr>
            <td>Primer numero: </td>
            <td><input type="text" name="num1" id="num1" /></td>
            <td><input type="text" name="num2" id="num2" /></td>
        </tr>
        console.log
        <tr>
            <td>campo1 </td>
            <td><input type="text" name="num2" id="campo1" /> </td>
        </tr>
        <tr>
            <td>Resultado: </td>
            <td><input type="text" name="resultado" id="resultado" /></td>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Suma" onclick='suma();' />
            </td>
        </tr>
        </tr>
        <tr>
            <td> <input type="text" name="ip" id="ip_text_id"></td>
            <td> <input type="text" name="location" id="location_text_id"></td>
        </tr>
    </table>
    <script Language="Javascript">
        var variable1 = 1;
        var variable2 = 'texto';
        var variable3 = true;
        var variable4 = new Function();
    </script>
    <input type="button" onclick="alert(typeof variable1);" value="variable 1" />
    <input type="button" onclick="alert(typeof variable2);" value="variable 2" />
    <input type="button" onclick="alert(typeof variable3);" value="variable 3" />
    <input type="button" onclick="alert(typeof variable4);" value="variable 4" />
    <input type="button" onclick="f01();" />
    <div>var variable = new Array(3)</div>
    <p class="p_apuntes_class">
        <b>push</b>: nos permite a&ntildeadir al final de un vector un elemento sin necesidad de saber el &iacutendice
        que
        debemos asignarle:
        mivector.push('barco');
        //vemos el resultado en la consola
        console.log(mivector);
        <b>pop</b>: Nos permite eliminar el elemento final del vector.
        mivector.pop();
        <b>shift</b>: Nos permite eliminar el elemento inicial del vector.
        mivector.shift();
        <b>unshift</b>: Nos permite agregar un elemento al inicio del vector.
        mivector.unshift('triciclo');
        <b>indexOf</b>: Devuelve el &iacutendice de un elemento dentro de un vector. Si el elemento buscado no existe
        nos
        devolver&aacute -1.
        mivector.indexOf('moto'); //devuelve 1 (los &iacutendices de vectores empiezan en 0)
        <b>splice</b>: Nos permite eliminar el elemento que deseemos indicando el &iacutendice del mismo y la cantidad
        de
        elementos a eliminar en el segundo par&aacutemetro.
        mivector.splice(1,1); //borrara el elemento moto
    </p>
    <div></div>
    <input type="button" onclick="f02();" value="f02" />
    <input type="button" onclick="f05();" value="f05" />
    <input type="button" onclick="f06();" value="f06" />
    <input type="button" onclick="f07();" value="f07" />
    <input type="button" onclick="f08();" value="f08" />
    <div>5 > 6 //devuelve false
        5 >= 5 //devuelve trae
        3 < 8 //devuelve true 3 <=2 //devuelve false 3==3//devuelve true 4 !=2//devuelve true 3=='3' //devuelve
            true</div>
            <input type="button" onclick="f03();" value="f03" />
            <div>(5 > 3) && (13 <= 13) //devuelve true (5 < 3) || (13> 13) //devuelve false
                    !(5 > 3) //devuelve style/dborder:iv>
                    ;padding: 2px; <input type="button" onclick="f04();" value="f04" />
                    <div>for (valorInicial; condici&oacuten; incremento){
                        // codigo a realizar
                        }</div>
                    <div style="border:2px solid black;padding: 2px;">
                        <form name="calculadora">
                            Cadena de operaciones
                            <input type="text" name="operaciones" /><br>
                            Resultado:
                            <input type="text" name="resultado" /><br>
                            <input type="button" value="Calcular" onClick="calcula(this.form)">
                        </form>
                    </div>
                    <div id="fake_console_02" style="border: 2px solid blue;"></div>
                    <p id="fake_console" style="border:4px solid greenyellow;"></p>
                    <p id="ip"></p>
                    <p id="location"></p>

                    <div>
                        <p class="p_apuntes_class">

                            fecha = <b>new Date(año,mes)</b>
                            //cogería el día uno del mes y años indicados
                            fecha = <b>new Date(año, mes, día)</b>
                            fecha = <b>new Date(año, mes, día, hora)</b>
                            fecha = <b>new Date(año, mes, día, hora, minutos)</b>
                            fecha = <b>new Date(año, mes, día, hora, minutos, segundos)</b>
                            <b>Math.abs(número)</b>, devuelve el valor absoluto del número.
                            <b>Math.min(número1,número2)</b>, devuelve el más bajo de los dos números pasados por
                            parámetro.
                            <b>Math.max(número1,número2)</b>, devuelve el más alto de los dos números pasados por
                            parámetro.
                            <b>Math.sin(número)</b>, devuelve el seno del ángulo pasado por parámetro.
                            <b>Math.cos(número)</b>, devuelve el coseno del ángulo pasado por parámetro.
                            <b>Math.tan(número)</b>, devuelve la tangente del ángulo pasado como parámetro.
                            <b>Math.asin(número)</b>, devuelve el arcoseno del ángulo pasado como parámetro.
                            <b>Math.acos(número)</b>, devuelve el arcocoseno del ángulo pasado como parámetro.
                            <b>Math.atan(número)</b>, devuelve el arcotangente del ángulo pasado como parámetro.
                            <b>Math.atan2(num1,num2)</b>, devuelve el arcotangente cuyas proyecciones sobre los ejes Y y
                            X son
                            los números num1 y num2.
                            <b>Math.sqrt(número)</b>, devuelve la raíz cuadrada del número pasado por parámetro.
                            <b>Math.ceil(número)</b>, devuelve el número pasado por parámetro a su entero superior.
                            <b>Math.floor(número)</b>, devuelve el número pasado por parámetro a su entero inferior.
                            <b>Math.round(número)</b>, devuelve el entero más próximo al número pasado por parámetro.
                            <b>Math.exp(número)</b>, devuelve el resultado de elevar el número E al exponente indicado
                            en el
                            parámetro pasado.
                            <b>Math.log(número)</b>, devuelve el logaritmo natural del número pasado por parámetro.
                            <b>Math.pow(base,exponente)</b>, devuelve el resultado de la potencia de la base al
                            exponente
                            indicados por los parámetros.
                            <b>Math.random()</b>, devuelve un número pseudo-aleatorio entre 0 y 1 inclusive.
                        </p>
                        <p class="p_apuntes_class">
                            <b>getDate()</b>, devuelve el día del mes actual entre 1 y 31.
                            <b>getDay()</b>, devuelve el día de la semana actual entre 0 (domingo) y 6 (sábado).
                            <b>getHours()</b>, devuelve la hora del día actual entre 0 y 23.
                            <b>getMinutes()</b>, devuelve los minutos de la hora actual entre 0 y 59.
                            <b>getSeconds()</b>, devuelve los segundos del minuto actual entre 0 y 59.
                            <b>getMonth()</b>, devuelve el mes del año actual entre 0 y 11.
                            <b>getTime()</b>, devuelve el tiempo en milisegundos desde el 1 de enero de 1970.
                            <b>getYear()</b>, devuelve el año actual.
                            <b>setDate(día)</b>, pone el día pasado por parámetro como día del objeto date.
                            <b>setDay(día de la semana)</b>, pone como día del objeto date el día pasado por parámetro
                            (de 0 a
                            6).
                            <b>setHours(hora)</b>, pone la hora del objeto date a la indicada en el parámetro.
                            <b>setMinutos(minutos)</b>, pone los minutos del objeto date a los indicados en el
                            parámetro.
                            <b>setMonth(mes)</b>, pone el mes indicado en el parámetro como mes del objeto date.
                            <b>setSeconds(segundos)</b>, pone los segundos del objeto date a los indicados en el
                            parámetro.
                            <b>setTime(milisegundos)</b>, pone la fecha desde los milisegundos que le pasemos del 1 de
                            enero de
                            1970 en el objeto date que estemos usando.
                            <b>setYear(año)</b>, pone el año indicado por parámetro como año del objeto date.
                            <b>toGMTString()</b>, devuelve la cadena convertida a zona horaria GMT
                        </p>
                    </div>
                    <div>
                        <p class="p_apuntes_class"> el contenedor de todos los elementos de la página, con las
                            propiedades y funciones de este
                            objeto podremos hacer cambios dinámicos en la web cuando lo deseemos.
                            Las propiedades más utilizadas del objeto son:
                            <b>anchors</b>, es un vector que contiene los enlaces internos existentes en el documento.
                            <b>all</b>, es un vector que contienen todos los elementos dentro del documento, sean del
                            tipo que
                            sean. (En desuso).
                            <b>applets</b>, es un vector que contienen los applets creados en la web. (En desuso).
                            <b>images</b>, es un vector que contiene las imágenes de la web.
                            <b>forms</b>, es un vector con los formularios creados en la web.
                            <b>links</b>, es un vector con los enlaces externos de la web.
                            <b>bgColor</b>, contiene el color de fondo del documento. (En desuso).
                            <b>cookie</b>, es un valor en string que contiene los valores de las cookies que posea en
                            documento
                            separadas por “;”.
                            <b>domain</b>, guarda el nombre del servidor donde está alojada la web.
                            <b>alinkColor</b>, contiene el color que se usa en el documento para los enlaces activos.
                            <b>location</b>, cadena que contiene la ubicación de la web.
                            <b>referrer</b>, cadena que contiene la URL de la página que llamo a la página actual.
                            <b>body</b>, se usa para hacer referencia al cuerpo de la web, todo lo contenido dentro de
                            las etiquetas HTML , solo en modo lectura.
                            <b>lastModified</b>, contiene la fecha de modificación del documento.
                            <b>readyState</b>, estado del objeto, tiene cuatro posibles valores:
                            -Sin cargar.
                            -Cargándose.
                            -Sin terminar la carga pero interactivo.
                            -Carga completa.
                            <b>height</b>, contiene la altura del documento actual, puede modificarse.
                            <b>width</b>, contiene la anchura del documento actual, puede modificarse.
                            <b>styleSheets</b>, devuelve una lista de las hojas de estilo CSS usadas en el documento.
                            <b>parentNode</b>, nos devuelve el padre, o elemento anterior al objeto indicado.
                        </p>
                        <p class="p_apuntes_class"><b>closed</b>, es una propiedad de solo lectura y devuelve true si la
                            ventana a la que hacemos
                            referencia está cerrada o false si está abierta.
                            var estacerrada = ventana.closed;
                            <b>defaultStatus</b>, nos permite cambiar y leer el texto de la barra de estado del
                            navegador.
                            window.defaultStatus = “Hola, bienvenido”;
                            <b>frames</b>, devuelve un vector compuesto de estos elementos que hay en la web.
                            <b>history</b>, nos devuelve la instancia de referencia del elemento “history” de una
                            ventana para
                            poder interactuar con el, para ello disponemos de las siguiente funciones:
                            <b>history.back()</b>: el navegador va a la anterior página que tenga guardada en la sesión.
                            Similar al botón atrás de los navegadores.
                            <b>history.forward()</b>: el navegador va a la siguiente página que tenga guardad en sesión.
                            Similar al botón siguiente del navegador.
                            <b>history.go(numero)</b>: indicamos al navegador que se sitúe en la página que tenga
                            guardada en
                            la sesión y en la posición que indiquemos a partir de la actual. Por ejemplo, poniendo un
                            -3, el navegador iría tres páginas hacia atrás.
                            <b>innerHeight</b>, altura del contenido de la venta sin incluir los menús del navegador,
                            pero si
                            los posibles scrolls.
                            <b>innerWidth</b>, anchura del contenido de la ventana incluyendo las barras de scroll.
                            <b>outherHeight</b>, altura del navegador, incluyendo la página, los menús y los scrolls.
                            <b>outherWidth</b>, anchura del navegador incluyéndolo todo.
                            Veamos un ejemplo gráfico de la diferencia:
                            Ejemplo del objeto Window
                            <b>length</b>, número de frames o iframes que contiene la ventana.
                            <b>opener</b>, devuelve la referencia de la ventana que abrió la actual, en caso de que la
                            ventana
                            no se abriera desde otra devolvería un “null”.
                            <b>parent</b>, devuelve la referencia del padre de la ventana o frame actuales, por ejemplo
                            si una
                            página la insertamos dentro de un frame, el padre de esta será la ventana que contienen el
                            frame.
                            <b>navigator</b>, nos devuelve la referencia a un objeto predefinido de JavaScript que
                            suministra
                            información del navegador web. Sus atributos posibles son:
                            <b>navigator.appCodeName</b>: devuelve el nombre interno del navegador.
                            <b>navigator.appName</b>: devuelve el nombre oficial del navegador.
                            <b>navigator.appVersion</b>: devuelve la versión del navegador.
                            <b>navigator.cookieEnabled</b>: devuelve un valor “true” si el navegador tiene activadas las
                            cookies.
                            <b>navigator.language</b>: devuelve e código de lenguaje del navegador (para España “es”,
                            Francia
                            “fr”, Estados Unidos “eu”…).
                            <b>navigator.onLine</b>: devuelve un valor “true” cuando el navegador está trabajando
                            on-line y no
                            con una versión en memoria.
                            <b>navigator.platform</b>: devuelve la plataforma donde está trabajando el navegador, por
                            ejemplo,
                            en Windows XP 32 bit devuelve “Win32”.
                            <b>navigator.plugins</b>: devuelve un “array” con la lista de plugins instalados en el
                            navegador.
                            <b>navigator.product</b>: devuelve el nombre del producto que es el navegador.
                            <b>navigator.producSub</b>: devuelve el número de referencia del producto.
                            <b>navigator.userAgent</b>: devuelve el agente navegador que usa el producto.
                            <b>navigator.vendor</b>: nos indica el vendedor del producto, por ejemplo, en caso de Chrome
                            nos
                            devuelve Google Inc.
                            <b>navigator.vendorSub</b>: nos indica la versión del vendedor (si tiene).
                        </p>
                        <p class="p_apuntes_class">
                            <b>WINDOW.OPEN</b>
                            <b>left</b>: indica el espacio de separación con el margen izquierdo de la pantalla.

                            <b>top</b>: indica el espacio de separación con el margen superior de la pantalla.

                            <b>height</b>: indica la altura que tendrá la ventana nueva.

                            <b>width</b>: indica la anchura que tendrá la ventana nueva.

                            <b>menubar</b>: si pasamos un valor “yes” la nueva ventana tendrá la barra de menú de
                            navegador.

                            <b>toolbar</b>: si pasamos un valor “yes” la nueva ventana tendrá la barra de herramientas
                            (atrás,
                            adelante, refrescar, parar…).

                            <b>location</b>: si pasamos un valor “yes” la nueva ventana tendrá la barra de dirección.

                            <b>status</b>: si pasamos un valor “yes” la nueva ventana tendrá una barra inferior de
                            estatu
                        </p>
                        <p class="p_apuntes_class">
                            <b>cookie</b> se compone de los siguientes elementos:

                            <b>nombre y valor</b>: el nombre indica cómo se llamará la cookie y el valor indica que
                            tiene la
                            cookie.

                            <b>fecha de expiración</b>: se puede asignar una fecha de expiración que indicará hasta
                            cuándo está
                            vigente dicha cookie; en caso de no indicar fecha, solo será vigente mientras el navegador
                            esté abierto, luego se borrará; esta fecha tiene un formato concreto que podremos dar
                            gracias a la función “toGMTString” de la clase “date”.

                            <b>Dominio</b>: indica el dominio para el cual será válida la cookie, hay que tener en
                            cuenta que
                            se trata de URL completas (como, por ejemplo, www.ejemplo.com), con lo que la cookie no
                            valdrá para otros dominios dentro de la página como podría ser alumnos.ejemplo.com.

                            <b>Path</b>: indica la ruta dentro del dominio a la cual afecta la cookie; si no se indica,
                            por
                            defecto coge la ruta raíz “/” aunque podemos indicarle, por ejemplo, “/intranet/alumnos” y
                            la cookie solo tendrá validez en las páginas dentro de esa ruta.

                            <b>Borrar</b>:

                            No se puede borrar una cookie directamente desde JavaScript para eliminarla debemos volver a
                            crearla con una fecha de expiración anterior a la fecha y así el navegador detectará que ha
                            expirado y la borrará.
                        </p>
                        <p class="p_apuntes_class">
                            <b>setTimeout</b> y <b>setInterval</b>. Estas funciones nos permiten definir un espacio de
                            tiempo
                            entre la invocación de la mismas hasta la ejecución del código

                        </p>
                        <p class="p_apuntes_class">
                            <b>XMLHttpRequest</b> son:
                            <b>onreadystatechange</b>: propiedad que contiene el nombre de la función que se ejecutará al
                            cambiar el estado del objeto.
                            <b>readyState</b>: almacena el estado actual del objeto, este valor puede ser:
                            0 No inicializado.
                            1 Cargando (inicio).
                            2 Cargando (ya tenemos cabecera y estatus.)
                            3 Interactivo (tenemos datos parciales).
                            4 Completado.
                            <b>responseText</b>: almacena la cadena devuelta por el servidor.
                            <b>responseXML</b>: almacena la cadena devuelta por el servidor con la diferencia de que esta en
                            XML.
                            Los métodos del objeto <b>XMLHttpRequest</b> son:

                            <b>open</b>: abre un canal asíncrono con el servidor. Recibe varios parámetros como veremos a
                            continuación:
                            <b>open(metodo, url, [asincrono], [usuario], [clave])</b>
                            <b>método</b>, es el tipo de petición http, puede ser <b>GET</b> o <b>POST</b>.
                            <b>URL</b>, el url a la que se realiza la petición http.
                            <b>asíncrono</b>, (opcional) indicamos con un “false” que la petición se haga de modo síncrono en
                            vez de asíncrono.
                            <b>usuario</b>, (opcional) usuario para la autentificación del url.
                            <b>clave</b>, (opcional) clave para la autentificación del url.
                            <b>send</b>: realiza la petición http, hasta que no se llama a este método no comienza la conexión.
                            Recibe un parámetro por defecto con valor “null” que indica los posibles parámetros
                            asociados al envío de la petición.
                            <b>send(datos)</b>
                            <b>abort</b>: detiene la petición actual.
                            <b>abort()</b>
                            <b>getAllResponseHeaders</b>: devuelve una cadena con las cabeceras de respuesta del servidor.
                            <b>getResponseHeader</b>: recibe como parámetro el nombre de una cabecera y devuelve una cadena con
                            el contenido de dicha cabecera.
                            <b>setRequestHeader</b>: recibe dos parámetros: el primero indica el nombre de una cabecera y, el
                            segundo, el valor que deseamos darle. Se debe llamar antes al método “open”.
                        </p>
                    </div>
</body>

</html>